<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f538e903-e6ce-4d52-be74-335a9986082d" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f538e903-e6ce-4d52-be74-335a9986082dfileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
